<ul id="homeSlider" class="slides">
  <li><a href="#"><img src="/assets/i1.jpg" /></a></li>
  <li><a href="#"><img src="/assets/i2.jpg" /></a></li>
  <li><a href="#"><img src="/assets/i3.jpg" /></a></li>
  <li><a href="#"><img src="/assets/i4.jpg" /></a></li>
  <li><a href="#"><img src="/assets/i5.jpg" /></a></li>
  <li><a href="#"><img src="/assets/i6.jpg" /></a></li>
</ul>
<div id="front-content-inner-grid-inner" class="grid_8">
	<SPAN class="pcenter">
		<h1 class="p1"> The Month Club </h1>
		<h2 class="p2"> Sells Membership </h2>
		
	</SPAN>
</div>

